DATABASE_URL=mysql://usuario:clave@host:3306/paldaca
DJANGO_SECRET_KEY=cambia-esta-clave
DJANGO_DEBUG=false
DJANGO_ALLOWED_HOSTS=codigos.cpaldaca.com,www.codigos.cpaldaca.com,.cereipo.com
CSRF_TRUSTED_ORIGINS=https://codigos.cpaldaca.com,https://www.codigos.cpaldaca.com,https://cpaldaca.com,https://www.cpaldaca.com,https://cereipo.com,https://www.cereipo.com,https://codigos.cereipo.com,https://www.codigos.cereipo.com
SESSION_COOKIE_DOMAIN=.cpaldaca.com
SESSION_COOKIE_SECURE=true
SESSION_COOKIE_NAME=paldaca_sessionid
PALDACA_SSO_LOGIN_URL=https://cpaldaca.com/login
PALDACA_SSO_LOGOUT_URL=https://cpaldaca.com/api/auth/sso/logout/
PALDACA_PORTAL_URL=https://cpaldaca.com
PALDACA_SHELL_PATH=/codigos
PORT=8084
