# created by virtualenv automatically

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
key.env
*.env
!key.env.example
!correo.env.example

# SQLite database (si usas SQLite)
db.sqlite3

# Django stuff:
*.log
*.pot
*.pyc
media
/staticfiles
/migrations/
# VSCode
.vscode/

# PyCharm
.idea/

# MacOS
.DS_Store

# Virtual environment 
venv/
env/
