<!-- templates/generador_codigo.html -->
{% extends 'index.html' %}

{% load static %}


{% block content %}

<main class="container-home mt-5">
  
    <h1>¡Hola, {{ nombre_usuario }}!</h1>
    <p>Bienvenido al sistema de generación de códigos de PALDACA</p>

    <a href="/Codigos" class="btn-menu">Historial de Códigos</a>
    <a href="/BuscarCodigo" class="btn-menu">Buscador de Códigos</a>
    <a href="/generar_codigo" class="btn-menu">Generar Código</a>
    <a href="/historial_anulaciones/" class="btn-menu">Historial de Anulaciones</a>
    <a href="/solicitudes_anulacion" class="btn-menu">Solicitar Anulación</a>

</main>
{% endblock %}