{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css">
    <link rel="icon" type="image/x-icon" href="{% static 'img/PaldacaIcon.png' %}">
    
    {% block extra_css %}{% endblock %}  <!-- Bloque extra para CSS -->

    <title class="titulo">Generador de Códigos</title>
</head>
<body>  

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <!-- Logo con imagen -->
    <a class="navbar-brand" href="/">
      <img src="{% static 'img/Paldaca logoyRif.png' %}" class="d-inline-block align-text-top logoheader">
    </a>

    <!-- Botón toggle para móviles -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Enlaces de navegación -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto"> <!-- ms-auto alinea a la derecha -->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/generar_codigo">Generar codigo</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="/Codigos">Historial</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/BuscarCodigo">Buscador</a>
        </li>
        {% if user.is_authenticated %}  
        <li>     
            <div class="ms-auto">
                <a href="/Logout" class="text-decoration-none">
                    <button class="btnlogout" type="submit">
                        <div class="sign">
                            <svg viewBox="0 0 512 512">
                                <path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path>
                            </svg>
                        </div>
                        <div class="text">Logout</div>
                    </button>
                </a>
            </div>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/Login">Iniciar Sesión</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="/Register">Registrarse</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

      {% block content %}{% endblock %}


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.min.js"></script>
</body>
</html>
