{% extends 'index.html' %}

{% block content %} 

<div class="container my-5 form-container">
<h2 class="form-title">Códigos generados</h2>
<table class="table table-striped table-responsive mt-3">
  <thead>
    <tr>
      <th>Código</th>
      <th>Usuario</th>
      <th>Fecha</th>
    </tr>
  </thead>
  <tbody>
    {% for codigo in codigos %}
    <tr>
      <td>{{ codigo.codigo }}</td>
      <td>{{ codigo.usuario.username }}</td>
      <td>{{ codigo.fecha_creacion|date:"d/m/Y H:i" }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% if not mostrar_todos %}
  <a href="?todos=1" class="btn btn-secondary mt-3">Ver todos</a>
{% endif %}
</div>
{% endblock %}

